<div class="offers-container" style = "float: left; width: 300px; border: 1px solid black;height: 100%;">
    Add Offer:
    <%= form_for $new_offer do |f|%>
    <%=  f.text_field :offer_name, :required => true, placeholder: "offer name", :class => 'form-size-small' %>
    <br>
    <%= f.submit "add offer", :class => ''%>
    <% end %>

    Offers: <br>
    <% if $offers %>
        <% $offers.each do |key, value| %>
            <h6 class="offer" id="<%= key %>"><%= key %></h6>
        <% end %>
    <% end %>
</div>
<div class="offer-details" id="properties_container" style="float: left; width: 600px; border: 1px solid black; height: 100%;">
    <div id="properties">
        <form method="POST" action="/addprop" style="display: none;" id="addPropForm">
            <h6>Add Property</h6>
            <input type="text" name="prop_to_add_name" placeholder="Prop Name" required>
            <br>
            <input type="text" name="prop_to_add_value" placeholder="Prop Value" required>
            <br>
            <input type="hidden" name="offer_name" id="offerNameHF">
            <input type="submit" value="Add Prop">
        </form>
    </div>
</div>

<script>
    text = '<%= $offer_details.to_json %>';
    text = text.replace(/&quot;/g, '\"');
    var offers = JSON.parse(text);
    var current_offer;
    function showOffer(){
        removeOldProps();
        appendOfferHFValue(this.id);
        current_offer = offers[this.id];
        for (var key in current_offer) {
            createAndAppendProp(key, current_offer[key], this.id);
        }
        
    }

    function createAndAppendProp(key, value, id){
        console.log(typeof key);
        var prop_element = document.getElementById('properties');
        title = document.createElement('H6');
        text = document.createTextNode(key);
        title.appendChild(text);
        div = document.createElement('div')
        div.className = "prop-container";
        form = document.createElement('form');
        form.action = "/editoffer";
        form.method = 'POST';
        input = document.createElement('input');
        input.type = "text";
        input.name = key;
        input.value = value;
        offer_name = document.createElement('input')
        offer_name.name = "offer_name";
        offer_name.value = id;
        offer_name.type = "hidden";
        prop_name = document.createElement('input');
        prop_name.name = "prop_name";
        prop_name.value = key;
        prop_name.type = "hidden";
        submit = document.createElement('input');
        submit.type = "submit";
        submit.value = "save";
        form.appendChild(title);
        form.appendChild(input);
        form.appendChild(offer_name);
        form.appendChild(prop_name);
        form.appendChild(submit);
        div.appendChild(form);
        document.getElementById('properties_container').insertBefore(div, prop_element);
    }

    function removeOldProps(){
        els = document.getElementsByClassName('prop-container')
        if(els !=[]){
            for(i=0;i<els.length;i){
                els[0].parentNode.removeChild(els[0]);
            }
        }
    }
    function appendOfferHFValue(offer){
        document.getElementById('offerNameHF').value = offer;
        document.getElementById('addPropForm').style.display = "block";
    }

    var offer_links = document.getElementsByClassName('offer');
    for(i=0;i<offer_links.length;i++){
        offer_links[i].addEventListener('click',showOffer)
    }
</script>










